body {
  margin: 0px;
  padding: 0px;
}

app-root {
  display: block;
  height: 100vh;
}

.spacer-in {
  padding: 20px;
}

.max-width {
  width: 100%;
}

.spacer-out {
  margin-top: 10px;
  margin-bottom: 10px;
}

.no-left {
  padding-left: 0px !important;
}

.no-right {
  padding-right: 0px !important;
}

.no-side {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

/*.custom-toast .ui-toast {
  margin-top: 80px;
}*/

.ui-calendar {
  width: 100% !important;
}

.ui-dropdown {
  width: 100%;
}

.ui-card-title {
  padding-left: 20px;
}

.ui-calendar>.ui-inputtext {
  width: 100% !important;
}

.ui-table-summary {
  text-align: right !important;
  background-color: #f4f4f4 !important;
  border-color: #c8c8c8 !important;
  margin-right: 0px !important;
  width: 100% !important;
  padding-right: 6px !important;
  padding-left: 6px !important;
}

.ui-overlaypanel {
  /*background-color: rgb(233, 233, 233) !important;*/
  min-width: max-content;
  padding: 0px;
}

.ui-overlaypanel-content {
  /* max-height: 200px;
  overflow: auto;*/
  padding: 5px 5px!important;
}

.spinner-wrap .spinner {
  position: fixed;
  top: calc(50% - 50px);
  left: calc(50% - 50px);
  z-index: 10000;
}

.spinner-wrap {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
