<div class="p-grid p-justify-center" style="width: 100%">
 
  <p-table [value]="kvarovi" class="p-col-10 tabela-kvarova">
    <ng-template pTemplate="header">
      <tr>
        <th>Broj kvara</th>
        <th>Opstina</th>
        <th>Lokacija</th>
        <th>Datum pocetka</th>
        <th>Datum kraja</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-kvar>
      <tr>
        <td>{{ kvar.id }}</td>
        <td>{{ kvar.opstina }}</td>
        <td>{{ kvar.lokacija }}</td>
        <td>{{ kvar.datumpocetka|date }}</td>
        <td>{{ kvar.datumkraja |date}}</td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <p-button class="" label="Dodaj novu popravku" (click)="prikaziDijalog()"></p-button>  
    </ng-template>

  </p-table>
</div>

