<div
  class="p-grid p-justify-center p-align-center no-margine"
  style="width: 100%;"
>
  <p-card header="Prijava na servis" class="p-col-8 p-lg-4">
    <div class="spacer-in p-grid">
      <label class="p-col-4">Email</label>
      <input class="p-col-8"/>
      <label class="p-col-4">Opstina</label>
      <p-dropdown class="p-col-8" [options]="opstine" [(ngModel)]="opstina" optionLabel="imeOpstine"></p-dropdown>
      <p-button class="p-col-12" label="Pretplati se"></p-button>

    </div>
  </p-card>
</div>
