.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: minmax(80px, 8%) auto minmax(80px, 10%);
}

.navbar {
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(0, 122, 217, 1) 30%);
  grid-column: 1/5;
  color: white;
}

.main {
  grid-column: 1/5;
}

.footer {
  align-self: end;
  background-color: #5d5c61;
  grid-column: 1/5;
}
